# Changelog

{{#tags}}
## {{#hasTagName}}{{tagName}}{{/hasTagName}}{{^hasTagName}}Unreleased{{/hasTagName}}{{#hasTagTime}} ({{tagTime}}){{/hasTagTime}}

{{#commits}}
- {{messageTitle}} ([`{{hash}}`](https://github.com/intrigsoft/prathya/commit/{{hash}}))
{{/commits}}

{{/tags}}
